
// color
@dangerColor:#FF2845;
@primaryColor:#2878FF;
@defaultColor:#6A6B6E;

@borderColor:#d9d9d9;

// dis
@borderRadius:4px;

// reset 
ul,li{
    margin: 0;
    padding: 0;
}


// import
@import url('../InputNumber/InputNumber.less');
@import url('../Input/Input.less');
@import url('../Tabs/Tabs.less');
@import url('../Tree/Tree.less');
@import url('../Tag/Tag.less');
// @import url('../Image/Image.less');
// @import url('../Image/Preview.less');


